header{
position: sticky;
}

h3{
text-align: center;
}
.left_part{
border: 1px solid INDIANRED;
background-color: INDIANRED;
color:white;
text-align: center;
}
h1{
font-size: 32;
font-family: Arial;
margin-top: 150px;
}
p{
text-align:center;
color:white;
margin:3px;
}
section{
align: inline;
}

aside.left_part{
padding: 20px;
float: left;
width: 50%;
height: 400px;
}

section.right_part{
float: right; 
width: 50%;

}
body{
display: flex;
}
